<td-layout>
  <div class="home-title" flex>
    <div layout="column" class="property-text-center">
      <h1 class= "title-color title">MY THAI STAR</h1>
      <span class= "title-color pull-top-xl subtitle">More than just delicious food</span>
    </div>
  </div>
  <mat-card id="homeCard" class="card-over push-left-xl push-right-xl">
    <div layout-gt-xs="row" class="pad" flex>
      <mat-card>
        <img mat-card-image src="../../assets/images/thai-restaurant.jpg">
        <mat-card-content>
          <div class="property-text-center pad">
            <h3>OUR RESTAURANT</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum tellus eget volutpat porta. Duis pellentesque velit venenatis, tincidunt ligula ac, rhoncus felis. Donec aliquam nulla id turpis dignissim laoreet. Vestibulum sit amet ante eu lacus convallis lobortis sit amet eu orci. Nam vitae felis ac nisi accumsan faucibus.
            </p>
          </div>
        </mat-card-content>
        <mat-card-actions class="property-text-center">
          <button mat-raised-button color="accent" (click)="navigateTo('bookTable')">BOOK A TABLE</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../assets/images/thai-restaurant-dish.jpg">
        <mat-card-content>
          <div class="property-text-center pad">
            <h3>OUR MENU</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum tellus eget volutpat porta. Duis pellentesque velit venenatis, tincidunt ligula ac, rhoncus felis. Donec aliquam nulla id turpis dignissim laoreet. Vestibulum sit amet ante eu lacus convallis lobortis sit amet eu orci. Nam vitae felis ac nisi accumsan faucibus.
            </p>
          </div>
        </mat-card-content>
        <mat-card-actions class="property-text-center">
          <button mat-raised-button color="accent" (click)="navigateTo('menu')">VIEW MENU</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card>
</td-layout>