.property-text-center {
    text-align: center;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-right {
    text-align: right;
}

.mat-simple-snackbar-action {
    color: white !important;
}

.mat-list-item .mat-form-field-type-mat-select .mat-form-field-infix {
    padding-top: 0;
}

.mat-toolbar {
  z-index: 2;
}
