<div layout="column" class="justify-space-between" style ="height: 100%">
  <div layout="column" flex>
    <mat-toolbar>
      <div layout="row" style="align-items:center" flex>
        <button class="forMobile" mat-icon-button (click)="closeSidenav()"><mat-icon>clear</mat-icon></button>
        <mat-icon class="forDesktop push-right-sm">shopping_basket</mat-icon>
        <span style="font-weight: bold; font-size: 0.7em">RESUME BOOKING</span>
      </div>
    </mat-toolbar>
    <div layout="column" class="pull-top pad-sm">
      <h4 class="pad-bottom-sm" style="border-bottom: 1px solid lightgrey">ORDER MENU</h4>
      <div layout="row" *ngIf="orders.length < 1" style="align-items:center" class="justify-space-between push-bottom-lg">
        <span>You have not selected any order</span>
        <button mat-button color="accent" (click)="navigateTo('menu')">View Menu</button>
      </div>
      <div class="pull-top" [class.scrollOrders]="orders.length > 3">
        <public-sidenav-order *ngFor="let order of orders" [order]="order"></public-sidenav-order>
      </div>
    </div>
    <div *ngIf="orders.length > 0" layout="row" class="justify-space-between pad-sm">
      <h3>Total</h3>
      <h3>{{calculateTotal() | number : '1.2-2'}} €</h3>
    </div>
    <div layout="column" class="pad-sm">
      <mat-card *ngIf="!bookingId.value" class="pad-sm" style="background-color:bisque">
        <div layout="row" class="justify-space-around" style="align-items:center" flex>
          <mat-icon class="mat-18 pad-right-sm">report_problem</mat-icon>
          <span flex="65" class="invitationAlert">To order a menu it is necessary to obtain a booking id. Neither you enter your already known booking id or you book a table </span>
          <button mat-button color="accent" (click)="navigateTo('bookTable')">Book a table</button>
        </div>
      </mat-card>
      <mat-form-field class="push-left" color="accent" flex>
        <input matInput #bookingId placeholder="Booking ID">
      </mat-form-field>
      <mat-checkbox #terms class="push-left">Accept terms</mat-checkbox>
    </div>
  </div>
  <div style="text-align: right">
    <button mat-button (click)="closeSidenav()" class="text-upper property-text-bold">Cancel</button>
    <button mat-button color="accent" (click)="sendOrders(bookingId.value)" [disabled]="!(bookingId.value.length > 0 && terms.checked)" class="text-upper property-text-bold">Send</button>
  </div>
</div>