<h3 mat-dialog-title>ORDER DETAILS - REFERENCE NUMBER {{data.bookingId}} </h3>
<mat-divider></mat-divider>
<td-data-table
  #dataTable
  [data]="datat"
  [columns]="columnst">
  <ng-template tdDataTableTemplate="bookingDate" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <span flex>{{ value | amParse:'x' | amDateFormat:'lll' }}</span>
    </div>
  </ng-template>
  <ng-template tdDataTableTemplate="creationDate" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <span flex>{{ value | amParse:'x' | amDateFormat:'lll' }}</span>
    </div>
  </ng-template>
</td-data-table>
<td-data-table
  #dataOrders
  [data]="filteredData"
  [columns]="columnso">
</td-data-table>
<div layout="row" class="justify-space-between pad-right pad-left">
  <h4>TOTAL</h4>
  <h4>{{totalPrice | number : '2.2-2'}}</h4>
</div>
<mat-divider></mat-divider>
<td-paging-bar #pagingBar [firstLast]="false" [pageSize]="pageSize" [total]="datao.length" (change)="page($event)">
  <span hide-xs>Rows per page:</span>
  <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
    <mat-option *ngFor="let size of pageSizes" [value]="size">
      {{ size }}
    </mat-option>
  </mat-select>
  <span>{{pagingBar.range}} <span hide-xs hide-sm hide-md>of {{pagingBar.total}}</span></span>
</td-paging-bar>
<div class="align-right" flex>
  <button mat-button mat-dialog-close color="accent" class="text-upper">Close</button>
</div>