<td-layout-nav>
  <public-header (openCloseSidenavMobile)="mobileSidenavOpened = !mobileSidenavOpened" td-toolbar-content flex></public-header>

  <td-layout-footer class="forDesktop">
    <div layout="row" layout-align="center center" flex>
      <span>MY THAI STAR 2017</span>
      <span flex></span>
      <span>Devonfw</span>
    </div>
  </td-layout-footer>

  <mat-sidenav-container style= "height:100%">

    <mat-sidenav class="sidenavMobile" (close)="openCloseSideNav(true)" [opened]="sidenav.opened" align="end">
      <public-sidenav></public-sidenav>
    </mat-sidenav>

    <mat-sidenav style="width:75%" (close)="mobileSidenavOpened=false" [opened]="mobileSidenavOpened" #mobilesidenav>
      <mat-nav-list menu-items *ngIf="auth.isPermited('CUSTOMER')">
        <a mat-list-item (click)="navigateTo('restaurant')">
          <mat-icon>home</mat-icon>
          HOME
        </a>
        <a mat-list-item (click)="navigateTo('menu')">
          <mat-icon>restaurant_menu</mat-icon>
          MENU
        </a>
        <a mat-list-item (click)="navigateTo('bookTable')">
          <mat-icon>bookmark</mat-icon>
          BOOK TABLE
        </a>
      </mat-nav-list>
      <mat-nav-list menu-items *ngIf="auth.isPermited('WAITER')">
        <a mat-list-item (click)="navigateTo('orders')">
          <mat-icon>home</mat-icon>
          ORDERS
        </a>
        <a mat-list-item (click)="navigateTo('reservations')">
          <mat-icon>restaurant_menu</mat-icon>
          RESERVATIONS
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <router-outlet></router-outlet>

  </mat-sidenav-container>
</td-layout-nav>