<h3 mat-dialog-title>RESERVATION DETAILS - REFERENCE NUMBER {{data.bookingId}} </h3>
<mat-divider></mat-divider>
<td-data-table
  #dataTable
  [data]="datat"
  [columns]="columnst">
  <ng-template tdDataTableTemplate="booking.bookingDate" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <span flex>{{ value | amParse:'x' | amDateFormat:'lll' }}</span>
    </div>
  </ng-template>
  <ng-template tdDataTableTemplate="booking.creationDate" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <span flex>{{ value | amParse:'x' | amDateFormat:'lll' }}</span>
    </div>
  </ng-template>
</td-data-table>
<td-data-table
  *ngIf="filteredData.length > 0"
  #dataOrders
  [data]="filteredData"
  [columns]="columnso">
  <ng-template tdDataTableTemplate="accepted" let-value="value" let-row="row" let-column="column">
    <mat-icon color="accent" *ngIf="value">check</mat-icon>
    <mat-icon color="warn" *ngIf="!value">clear</mat-icon>
  </ng-template>
</td-data-table>
<td-paging-bar *ngIf="filteredData.length > 0" #pagingBar [firstLast]="false" [pageSize]="pageSize" [total]="datao.length" (change)="page($event)">
  <span hide-xs>Rows per page:</span>
  <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
    <mat-option *ngFor="let size of pageSizes" [value]="size">
      {{ size }}
    </mat-option>
  </mat-select>
  <span>{{pagingBar.range}} <span hide-xs hide-sm hide-md>of {{pagingBar.total}}</span></span>
</td-paging-bar>
<div class="align-right" flex>
  <button mat-button mat-dialog-close color="accent" class="text-upper">Close</button>
</div>