<td-layout>
  <form (ngSubmit)="applyFilters()" #filterForm="ngForm">
    <div style= "background-color: white">
      <td-expansion-panel label="FILTER">
        <div layout="row" class="pad-left-md pad-right-md" style="align-items:center; border-bottom: 1px solid lightgrey" flex>
          <div layout-xs="column" class="justify-space-around" style="align-items:center" hide-gt-xs flex>
            <mat-form-field color="accent" class="searchBy">
              <input matInput placeholder="Email" [(ngModel)]="filters.email" name="email">
            </mat-form-field>
            <mat-form-field color="accent" class="searchBy">
              <input matInput placeholder="Reference number" [(ngModel)]="filters.bookingToken" name="bookingToken">
            </mat-form-field>
          </div>
          <div layout-gt-xs="row" class="justify-space-around" style="align-items:center" hide-xs flex>
            <mat-form-field color="accent" class="searchBy">
              <input matInput placeholder="Email" [(ngModel)]="filters.email" name="email">
            </mat-form-field>
            <mat-form-field color="accent" class="searchBy">
              <input matInput placeholder="Reference number" [(ngModel)]="filters.bookingToken" name="bookingToken">
            </mat-form-field>
          </div>
        </div>
        <div class="align-right">
          <button mat-button type="button" (click)="clearFilters(filterForm)" class="text-upper property-text-bold">Clear filters</button>
          <button mat-button type="submit" color="accent" class="text-upper property-text-bold">Apply filters</button>
        </div>
      </td-expansion-panel>
    </div>
  </form>
  <mat-progress-bar
    *ngIf="!orders"
    color="accent"
    mode="indeterminate">
  </mat-progress-bar>
  <mat-card>
    <mat-card-title>ORDERS</mat-card-title>
    <mat-divider></mat-divider>
    <td-data-table
      #dataTable
      [data]="orders"
      [columns]="columns"
      [sortable]="true"
      clickable="true"
      (rowClick)="selected($event)"
      (sortChange)="sort($event)">
      <ng-template tdDataTableTemplate="booking.bookingDate" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <span flex>{{ value | amParse:'x' | amDateFormat:'lll' }}</span>
        </div>
      </ng-template>
    </td-data-table>
    <div class="mat-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
      <h3>No results to display.</h3>
    </div>
    <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="totalOrders" (change)="page($event)">
      <span hide-xs>Rows per page:</span>
      <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
        <mat-option *ngFor="let size of pageSizes" [value]="size">
          {{ size }}
        </mat-option>
      </mat-select>
      <span>{{pagingBar.range}} <span hide-xs hide-sm hide-md>of {{pagingBar.total}}</span></span>
    </td-paging-bar>
  </mat-card>
</td-layout>
