@media (max-width: 600px) {
  mat-form-field {
    width: 100% !important;
  }

  .forDesktop {
    display: none;
  }
  .searchBy {
    width: 100%;
  }
}

@media (min-width: 600px) {
  mat-form-field {
    width: 45% !important;
  }

  .forMobile {
    display: none;
  }
  .sortingBy {
    width: 30%;
  }
  .searchBy {
    width: 30%;
  }
}