<td-layout>
  <form (ngSubmit)="applyFilters(filterForm.form.value)" #filterForm="ngForm">
    <div style= "background-color: white">
      
      <div layout-gt-xs="row" class="justify-space-between pad-left-md pad-right-md" style="align-items:center" flex>
        <div layout="row" style="align-items:center" class="pad-top" flex>
          <mat-form-field color="accent" class="searchBy">
            <button mat-icon-button matPrefix>
              <mat-icon>search</mat-icon>
            </button>
            <input matInput placeholder="Search our dishes" ngModel name="searchBy">
          </mat-form-field>
        </div>
        <div layout="row" class="pull-bottom pad-sm sortingBy">
          <mat-form-field color="accent" flex>
            <mat-select flex ngModel name="sortName" #sorting placeholder="Sort By">
              <mat-option value="price">
                Price
              </mat-option>
              <mat-option value="likes">
                Likes
              </mat-option>
              <mat-option value="name">
                Name
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-icon-button color="accent" (click)="changeSortDir()" [matTooltip]="sortDir" class="button-sort">
            <mat-icon>{{sortDirIcon}}</mat-icon>
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
      
      <td-expansion-panel label="FILTERS">
        <div layout="column" class ="pad-left-md pad-top pad-right-md" flex>
          
          <div layout-gt-xs="column" class="justify-space-between flex-wrap forMobile" style="margin-bottom: 5px" flex>
            <div layout="row" class="justify-space-between pad-bottom-sm pad-top-sm forMobile" flex>
              <mat-checkbox ngModel name="1">Main dishes</mat-checkbox>
              <mat-checkbox ngModel name="2">Starter</mat-checkbox>
              <mat-checkbox ngModel name="3">Dessert</mat-checkbox>
            </div>
            <mat-divider></mat-divider>
            <div layout="row" class="justify-space-between pad-bottom-sm pad-top-sm" flex>
              <mat-checkbox ngModel name="3">Noodle</mat-checkbox>
              <mat-checkbox ngModel name="4">Rice</mat-checkbox>
              <mat-checkbox ngModel name="5">Curry</mat-checkbox>
            </div>    
            <mat-divider></mat-divider>
            <div layout="row" class="justify-space-between pad-bottom-sm pad-top-sm" flex>
              <mat-checkbox ngModel name="6">Vegan</mat-checkbox>
              <mat-checkbox ngModel name="7">Vegetarian</mat-checkbox>
            </div>   
            <mat-divider></mat-divider>            
            <div layout="row" class="justify-space-between pad-bottom-sm pad-top-sm" flex>
              <mat-checkbox ngModel name="8">Favourites</mat-checkbox>
            </div>
            <mat-divider></mat-divider>
          </div>

          <div layout-gt-xs="row" class="justify-space-between flex-wrap forDesktop" style="margin-bottom: 5px" flex>
            <mat-checkbox ngModel name="0">Main dishes</mat-checkbox>
            <mat-checkbox ngModel name="1">Starter</mat-checkbox>
            <mat-checkbox ngModel name="2">Dessert</mat-checkbox>
            <span style="border-right: 1px solid lightgray"></span>
            <mat-checkbox ngModel name="3">Noodle</mat-checkbox>
            <mat-checkbox ngModel name="4">Rice</mat-checkbox>
            <mat-checkbox ngModel name="5">Curry</mat-checkbox>
            <span style="border-right: 1px solid lightgray"></span>        
            <mat-checkbox ngModel name="6">Vegan</mat-checkbox>
            <mat-checkbox ngModel name="7">Vegetarian</mat-checkbox>
            <span style="border-right: 1px solid lightgray"></span>        
            <mat-checkbox ngModel name="8">Favourites</mat-checkbox>
          </div>

          <div layout-gt-xs="row" class="push-top-sm" flex>
            <div flex-gt-xs="50" layout="column" flex>
              <span class ="pull-bottom-md">Price</span>
              <mat-slider
                #price
                ngModel
                name="maxPrice"
                max="50"
                min="1"
                step="1"
                thumb-label="true"
                tick-interval="10">
              </mat-slider>
            </div>
            <div flex-gt-xs="50" layout="column" flex>
              <span class ="pull-bottom-md">Likes</span>
              <mat-slider
                #likes
                ngModel
                name="minLikes"
                max=500
                min=0
                step=5
                thumb-label="true"
                tick-interval="25">
              </mat-slider>
            </div>
          </div>
        </div>
      </td-expansion-panel>
      <div class="align-right">
        <button mat-button (click)="clearFilters(filterForm.form, price, likes)" class="text-upper property-text-bold">Clear filters</button>
        <button mat-button type="submit" color="accent" class="text-upper property-text-bold">Apply filters</button>
      </div>
    </div>
  </form>

  <div flex layout="row" *ngIf="menus | async as allMenus; else loading" class="justify-space-around flex-wrap">
    <public-menu-card *ngFor="let menu of allMenus" [menu]="menu"></public-menu-card>
  </div>
  
  <ng-template #loading>
    <mat-progress-bar
      #loading
      color="accent"
      mode="indeterminate">
    </mat-progress-bar>
  </ng-template>

</td-layout>
