<div layout-gt-sm="row" layout-align="center" layout-padding tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <div flex-gt-md="60" flex-mat-sm="75">
    <mat-card>
      <mat-card-title>
        <mat-icon color="accent">pan_tools</mat-icon>
        Ups, something went wrong
      </mat-card-title>
      <mat-card-subtitle>Page not found</mat-card-subtitle>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p>The page that you are trying to access <strong>does not exist</strong> or <strong>cannot be found</strong>. Please,
          go to the home page and navigate to other sections.</p>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <a mat-raised-button color="accent" class="text-upper" [routerLink]="['/restaurant']">
          Home
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
