mat-form-field {
  width: 100% !important;
}

@media (max-width: 600px) {
  .forgotPassword {
    cursor: pointer;
    color: seagreen;
    width: 60%;
  }
}

@media (min-width: 600px) {
  .forgotPassword {
    cursor: pointer;
    color: seagreen;
    width: 25%;
  }
}