<span mat-dialog-title class="text-upper">Add a comment</span>
<mat-dialog-content>
  <span style="font-size: 0.9em">Here you can add a short comment to our cookers about how to prepare your dish</span>
  <mat-form-field color="accent" style="width:100%">
    <textarea matInput placeholder="Comment" #comment style="resize: none"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="align-right" flex>
    <button mat-button mat-dialog-close class="text-upper">Cancel</button>
    <button mat-button [disabled]="!comment.value.length" (click)="sendComment(comment.value)" color="accent" class="text-upper">Send</button>
  </div>
</mat-dialog-actions>