<h3 mat-dialog-title>SET NEW PASSWORD</h3>
<form (ngSubmit)="passwordSubmit(passwordForm.form.value)" #passwordForm="ngForm">
  <div layout= "column" class="push-bottom-sm" flex>

    <mat-form-field color="accent" flex>
      <input matInput type="password" name="oldPassword" placeholder="Current password" ngModel required validateEqual="confirmPassword" reverse="true" #password="ngModel">
    </mat-form-field>

    <mat-form-field color="accent" flex>
      <input matInput type="password" name="newPassword" placeholder="New password" ngModel required validateEqual="verifyPassword" reverse="true" #newPassword="ngModel">
    </mat-form-field>

    <mat-form-field color="accent" flex>
      <input matInput type="password" name="verifyPassword" placeholder="Verify Password" ngModel required validateEqual="newPassword" reverse="false" #verifyPassword="ngModel">
      <mat-error>Password mismatch</mat-error>
    </mat-form-field>
  </div>

  <div class="align-right" flex>
    <button mat-button mat-dialog-close class="text-upper">Cancel</button>
    <button mat-button type="submit" [disabled]="!passwordForm.form.valid" color="accent" class="text-upper">Save</button>
  </div>
</form>