<td-layout>
  <div class="property-text-center pad-top-sm pad-right-sm pad-left-sm" flex>
    <h3>You can invite your friends to lunch or book a table</h3>
  </div>
  <mat-card class="push-lg">
    <mat-tab-group mat-stretch-tabs>

      <mat-tab label="Book a table">
        <div layout-gt-xs="row" flex>

          <div flex-gt-xs="50" class= "menu-image forDesktop">
          </div>
          
          <img mat-card-image src='../../assets/images/slider-1.jpg' class="forMobile">

          <div flex-gt-xs="50">
            <form class="pad" #bookForm="ngForm">
              <div layout="column" flex>
                <span class="title-card property-text-bold">BOOK YOUR TABLE</span>
                <span class ="subtitle-card push-bottom">You can book a table and an order menu</span>
              </div>
              <div layout= "column" flex>

                <md2-datepicker 
                  ngModel
                  name="bookingDate"
                  openOnFocus="true"
                  type="datetime"
                  container="dialog"
                  required
                  [min]="minDate"
                  placeholder="Date and time">
                </md2-datepicker>

                <mat-form-field color="accent" flex>
                  <input matInput placeholder="Name" ngModel name="name" required>
                  <mat-error>Required. Please insert a name to reserve the table</mat-error>
                </mat-form-field>

                <mat-form-field color="accent" flex>
                  <input matInput placeholder="Email" ngModel name="email" required validateEmail>
                  <mat-error>Required. Insert a valid email address to send reservation data. e.g. email@email.com.</mat-error>
                </mat-form-field>

                <mat-form-field class="push-bottom-sm" color="accent" flex>
                  <input matInput placeholder="Assistants" ngModel name="assistants" type="number" required validateAssistants>
                  <mat-error>Required. You cannot reserve more assistants than the size of the biggest table (8), if you need more tables, make more bookings.</mat-error>
                </mat-form-field>

                <mat-checkbox class="push-top" #termsd>Accept terms</mat-checkbox>

              </div>
              <div class="align-right">
                <button mat-button (click)="showBookTableDialog(bookForm.form)" [disabled]="!(bookForm.form.valid && termsd.checked)" color="accent" class="text-upper">Book table</button>
              </div>
            </form>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Invite friends">
        <div layout-gt-xs="row" flex>

          <div  flex-gt-xs="50" class= "invite-image forDesktop">
          </div>

          <img mat-card-image src='../../assets/images/slider-2.jpg' class="forMobile">
          
          <div  flex-gt-xs="50">
            <div class="pad">
              <form #invitationForm="ngForm">
                <div layout="column" class="push-bottom" flex>
                  <span class="title-card property-text-bold">ADD YOUR INFORMATION AND FRIENDS</span>
                </div>

                <div layout= "column" flex>
                  <md2-datepicker 
                    ngModel
                    name="bookingDate"
                    openOnFocus="true"
                    type="datetime"
                    container="dialog"
                    required
                    [min]="minDate"
                    placeholder="Date and time">
                  </md2-datepicker>

                  <mat-form-field color="accent" flex>
                    <input matInput placeholder="Name" ngModel name="name" required>
                    <mat-error>Required. Please insert a name to reserve the table</mat-error>
                  </mat-form-field>

                  <mat-form-field color="accent" flex>
                    <input matInput placeholder="Email" ngModel name="email" required validateEmail>
                    <mat-error>Required. Insert a valid email address to send reservation data. e.g. email@email.com.</mat-error>
                  </mat-form-field>
                </div>

                <h4>Guests</h4>
                <td-chips
                  class="pad-bottom-sm"
                  [(ngModel)]="invitationModel"
                  name="invitedGuests"
                  (add)="validateEmail()"
                  placeholder="Enter invitation email">
                </td-chips>
                <mat-checkbox #termsi>Accept terms</mat-checkbox>
              </form>
              <div class="align-right">
                <button mat-button (click)="showInviteDialog(invitationForm.form)" [disabled]="!(invitationForm.form.valid && invitationModel.length > 0 && termsi.checked)" color="accent" class="text-upper">Invite friends</button>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</td-layout>